<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lambda">
      <img src="/lambda.png">
    </a>
    <h1>The Y combinator with Spring Boot</h1>
    <h2>Stephen Webber</h2>
    <p>This is an example Spring application. In addition to showing that I can program with the Spring Framework, I attempt to show off some computer science concepts the reader may not know.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://linkedin.com/in/stephen-webber"><span class="glyphicon glyphicon-link"></span> 
LinkedIn</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/java-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Thank you for your consideration during the hiring process. You may find my resume <a href="/resume">here</a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> The Y combinator</h3>
      <p>Many people are familiar with the company <a href="http://www.ycombinator.com/">Y combinator</a>. Fewer people know this company is actually based on a mathematical concept called the <a href="https://en.wikipedia.org/wiki/Fixed-point_combinator">fixed point combinator</a>. The Y combinator is the most succinct way to implement recursion in lambda calculus.</p>
      <p>If we remove the ability to write recursive code in Java, we can still write code in a style that is not recursive, but then apply the Y combinator to it to make it recursive.</p>
      <p>The second concept I will use is <a href="https://en.wikipedia.org/wiki/Memoization">memoization</p>. This allows us to trade memory for time, with the optimization divorced from the business logic. Unlike typical caching patterns, the function inputs (or cache keys) are invulnerable to key conflicts that might arise when business requirements change.</p>
      <p>I combine these two concepts to implement the <a href="https://en.wikipedia.org/wiki/Fibonacci_number">fibonacci sequence</a>. The sequence goes as follows: 1, 1, 2, 3, 8... where each number is the sum of the previous two numbers, where f(4) = 8. Naturally, when calculating f(4), you must recalculate all previous numbers, so caching is useful here.</p>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    My intent is to show two complicated concepts that require a deep understanding to combine in a meaningful way. By using the Spring framework I hope to show I am capable of working with less abstract concepts as well, and that my unit tests show a basic proficiency in good software design. I hope you agree, and that you will consider me despite my lack of experience with your particular environment. 
  </div>
</div>

</body>
</html>
